@import url(/styles/header.css);
@import url(/styles/hamburger-menu.css);
@import url(/styles/banner.css);
@import url(/styles/section-one.css);
@import url(/styles/about-banner.css);
@import url(/styles//section-three.css);
@import url(/styles/section-four.css);
@import url(/styles/section-five.css);
@import url(/styles/teachers-section.css);
@import url(/styles/client.css);
@import url(/styles/weblog.css);

@font-face {
  font-family: iranian;
  src: url("/fonts/irsans_p30download.com.ttf") format("truetype");
}
:root {
  --red-orange-color-wheel: hsl(15, 100%, 55%);
  --ultramarine-blue: hsl(217, 100%, 50%);
  --lavender-blue: hsl(229, 96%, 91%);
  --oxford-blue: hsl(229, 84%, 12%);
  --light-gray: hsl(0, 0%, 80%);
  --sonic-silver: hsl(0, 0%, 47%);
  --blue-crayola: hsl(216, 98%, 52%);
  --cultured: hsl(228, 26%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: iranian; */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}