@import url(/header/header.css);
@import url(/header/hamburger-menu.css);

:root {
    --red-orange-color-wheel: hsl(15, 100%, 55%);
    --ultramarine-blue: hsl(217, 100%, 50%);
    --lavender-blue: hsl(229, 96%, 91%);
    --oxford-blue: hsl(229, 84%, 12%);
    --light-gray: hsl(0, 0%, 80%);
    --sonic-silver: hsl(0, 0%, 47%);
    --blue-crayola: hsl(216, 98%, 52%);
    --cultured: hsl(228, 26%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}