.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--red-orange-color-wheel);
    border: none;
    border-radius: 8px;
}

#menu-toggle {
    display: none;
}

.burger-icon{
    margin-top: 17px;
}
.menu-btn {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
}

.menu-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(252, 252, 252);
    border-radius: 2px;
    transition: 0.3s;
}

.menu-btn span:nth-child(1) {
    top: 0px;
}

.menu-btn span:nth-child(2),
.menu-btn span:nth-child(3) {
    top: 10px;
}

.menu-btn span:nth-child(4) {
    top: 20px;
}


#menu-toggle:checked+.menu-btn span:nth-child(1),
#menu-toggle:checked+.menu-btn span:nth-child(4) {
    width: 0%;
    left: 50%;
    top: 18px;
}

#menu-toggle:checked+.menu-btn span:nth-child(2) {
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn span:nth-child(3) {
    transform: rotate(-45deg);
}