@import url(/styles/keyframes.css);

.banner-container {
    background-color: var(--white);
    padding-bottom: 80px;
    /* box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.2); */
}

.shape-1 {
    margin-top: 8rem;
}

.shape-2 {
    position: absolute;
    top: 35rem;
    right: 1rem;
}

.shape-3 {
    width: 15rem;
}

.main-pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bg-img {
    height: auto;
    width: 22rem;
    margin-left: 2rem;
    margin-top: 7rem;

}

.girl-img {
    position: absolute;
    height: auto;
    width: 22rem;
    margin-top: 7rem;
    margin-left: 2rem;
    z-index: 0;

}

/* banner text */

.banner-text {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 8rem;
    gap: 40px;
}

.banner-text>h1 {
    font-size: large;
    color: var(--ultramarine-blue);

}

.banner-text>strong {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
}

.banner-text>strong>img {
    position: absolute;
    width: 12rem;
    height: auto;
    margin-right: 6rem;
    margin-top: 78px;
}

.banner-text>p {
    color: var(--sonic-silver);
    text-align: center;
    padding: 0 20px;
}

/* banner buttons */

.banner-buttons {
    display: flex;
    gap: 15px;
}

.banner-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 15px 28px;
    border-radius: 8px;
}

.banner-btn>a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: medium;
    display: inline-block;
    z-index: 2;
}

.btn-1 {
    background-color: var(--red-orange-color-wheel);
    position: relative;
}

.btn-square-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--oxford-blue);
    z-index: 0;
}

.btn-2 {
    background-color: var(--oxford-blue);
}

.btn-square-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-orange-color-wheel);
    z-index: 0;
}

/* alinment icons */
.aliment-icon-1 {
    position: absolute;
    width: 15rem;
    height: auto;
    z-index: 5;
    top: 50%;
    left: 10%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    animation: float 4s ease-in-out infinite;
}

.aliment-icon-2 {
    position: absolute;
    width: 15rem;
    height: auto;
    z-index: 5;
    top: 80%;
    right: 10%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    animation: float-reverse 4s ease-in-out infinite;
}

.aliment-icon-3 {
    display: none;
    position: absolute;
    width: 15rem;
    height: auto;
    z-index: 5;
    top: 80%;
    right: 10%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    animation: float-variant 4s ease-in-out infinite;
}

.aliment-icon-4 {
    position: absolute;
    z-index: 5;
    top: 45%;
    right: 20%;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    animation: float-updown-fun 2s ease-in-out infinite;
}

/* for teblet screen */
@media (min-width: 426px) and (max-width: 768px) {
    .girl-img {
        width: 45rem;
        height: auto;
    }

    .bg-img {
        width: 50rem;
        margin-top: 5rem;
    }

    .shape-1 {
        width: 80px;
        margin-bottom: 12rem;
        margin-right: 5rem;
    }

    .shape-3 {
        margin-top: 20rem;
        margin-right: 22rem;
    }

    .shape-2 {
        margin-right: 3rem;
        margin-top: 9rem;
    }

    .aliment-icon-1 {
        left: 20%;
    }

    .aliment-icon-2 {
        right: 20%;
        top: 70%;
    }

    .aliment-icon-3 {
        display: flex;
        right: 50%;
        top: 90%;
    }

    .banner-text {
        padding: 50px;
    }

    .banner-text>h1 {
        font-size: larger;
    }

    .banner-text>strong {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .banner-text>strong>img {
        margin-right: 22rem;
        margin-top: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .banner-container {
        padding-top: 50px;
    }

    .banner-text {
        display: flex;
        justify-content: start;
        align-items: start;
        padding-right: 20px;
        margin-top: 10rem;
    }

    .banner-text>p {
        text-wrap: wrap;
        width: 300px;
    }

    .banner {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .girl-img {
        width: 30rem;
        height: auto;
        margin-right: 90px;
    }

    .bg-img {
        width: 30rem;
        height: auto;
    }

    .aliment-icon-2 {
        top: 65%;
    }

    .aliment-icon-3 {
        display: flex;
        top: 90%;
        right: 30%;

    }

    .bg-img,
    .bg-img,
    .aliment-icon-1,
    .aliment-icon-2,
    .aliment-icon-3,
    .aliment-icon-4 {
        margin-right: 6rem;
    }
    .shape-1 {
        width: 5rem;
        margin-right: 3rem;
    }
}