@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(-5px) translateX(2px);
    }
    50% {
        transform: translateY(0px) translateX(0px);
    }
    75% {
        transform: translateY(5px) translateX(-2px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes float-reverse {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(5px) translateX(-2px);
    }
    50% {
        transform: translateY(0px) translateX(0px);
    }
    75% {
        transform: translateY(-5px) translateX(2px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes float-updown {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float-updown-fun {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(15px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}