.courses-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* section title */
.section-three-titles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    width: 360px;
    padding-top: 2rem;
}

.section-three-subtitle {
    font-size: large;
    color: var(--ultramarine-blue);
    font-weight: bold;

}

.section-three-title {
    font-size: small;
}

/* cards */
.course-cards {
    width: 360px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

/* main pic */
.card-pic {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* buttons */
.card-btn {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    display: flex;
    gap: 1.5rem;
}

.btn-primary {
    left: 10px;
    background: var(--red-orange-color-wheel);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

.btn-secondary {
    right: 10px;
    background: var(--ultramarine-blue);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

/* description */
.card-description {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

/* teachers profile and rating */
.profile-wrapper {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher {
    display: flex;
    align-items: center;
    gap: 8px;
}

.teacher>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
}

.teacher>a {
    text-decoration: none;
    color: var(--sonic-silver);
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sonic-silver);
    gap: 5px;
    text-wrap: nowrap;
    width: 100px;
}

.ion-icon-star {
    fill: hsl(45, 100%, 51%);
    width: 20px;
    height: auto;
}

/* grey line */
.divider {
    margin: 0 16px;
    border: none;
    height: 1px;
    background: #e0e0e0;
}

/* cards footer */
.card-footer {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 15px 20px;

}

.students {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.student-icon {
    width: 30px;
    height: 30px;
    background-color: hsl(138, 59%, 91%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-students {
    font-size: 13px;
    color: var(--sonic-silver);
    font-weight: bold;
}

.card-footer>span {
    color: var(--red-orange-color-wheel);
    font-size: large;
    font-weight: bold;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .courses-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .course-cards {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
}